GEOSERVER_ADMIN_USER=<admin_geoserver>
GEOSERVER_ADMIN_PASSWORD=<password_geoserver>
GEOSERVER_DATA_DIR=/opt/geoserver/data_dir
ENABLE_JSONP=true
MAX_FILTER_RULES=20
OPTIMIZE_LINE_WIDTH=false
GEOSERVER_PROXY_BASE_URL=<domain>/geoserver
GEOSERVER_CSRF_WHITELIST=<domain>
HTTP_SCHEME=https
POSTGIS_HOST=<postgis_host>
POSTGIS_PORT=<postgis_port>
POSTGIS_DB=<postgis_db>
POSTGIS_USER=<postgis_user>
POSTGIS_PASSWORD=<postgis_password>