<global>
  <settings>
    <id>SettingsInfoImpl--58f10e5a:19c7d39d076:-7fff</id>
    <contact>
      <id>contact</id>
    </contact>
    <numDecimals>0</numDecimals>
    <proxyBaseUrl>${GEOSERVER_PROXY_BASE_URL}</proxyBaseUrl>
    <charset>UTF-8</charset>
    <useHeadersProxyURL>true</useHeadersProxyURL>
    <verbose>false</verbose>
    <verboseExceptions>false</verboseExceptions>
    <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
    <showCreatedTimeColumnsInAdminList>false</showCreatedTimeColumnsInAdminList>
    <showModifiedTimeColumnsInAdminList>false</showModifiedTimeColumnsInAdminList>
  </settings>
  <jai>
    <allowInterpolation>false</allowInterpolation>
    <recycling>false</recycling>
    <tilePriority>5</tilePriority>
    <tileThreads>7</tileThreads>
    <memoryCapacity>0.5</memoryCapacity>
    <memoryThreshold>0.75</memoryThreshold>
    <imageIOCache>false</imageIOCache>
  </jai>
  <coverageAccess>
    <maxPoolSize>5</maxPoolSize>
    <corePoolSize>5</corePoolSize>
    <keepAliveTime>30000</keepAliveTime>
    <queueType>UNBOUNDED</queueType>
    <imageIOCacheThreshold>10240</imageIOCacheThreshold>
  </coverageAccess>
  <updateSequence>10</updateSequence>
  <featureTypeCacheSize>0</featureTypeCacheSize>
  <globalServices>true</globalServices>
  <xmlPostRequestLogBufferSize>1024</xmlPostRequestLogBufferSize>
  <xmlExternalEntitiesEnabled>false</xmlExternalEntitiesEnabled>
  <trailingSlashMatch>true</trailingSlashMatch>
  <webUIMode>DEFAULT</webUIMode>
  <allowStoredQueriesPerWorkspace>true</allowStoredQueriesPerWorkspace>
  <resourceErrorHandling>SKIP_MISCONFIGURED_LAYERS</resourceErrorHandling>
</global>